h4#indexTitle {
	height:27px;
	/*border-bottom:2px #FFF inset;*/
	border-top-left-radius:10px;
	border-top-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	background-color:#000;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(bottom, #4A4A4A 0%, #2D2D2D 100%);
	background-image: -webkit-linear-gradient(bottom, #4A4A4A 0%, #2D2D2D 100%);
	background-image: linear-gradient(bottom, #4A4A4A 0%, #2D2D2D 100%);
	color:#FFF;
	text-shadow:rgb(249,89,109) 1px 1px;
	text-align:center;
	text-decoration:none !important;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 3px;
}
