<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComputerizedCarRentalSystem.Properties.Settings.DbCarRentalConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DbCarRental.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy ="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
